In [44]:
import numpy as np

In [45]:
ls=[1,8,4,9]

In [46]:
arr1=np.array(ls)

In [47]:
print(type(arr1))

<class 'numpy.ndarray'>

In [48]:
ls.sort()

In [49]:
ls

[1, 4, 8, 9]

In [50]:
len(ls)

4

In [51]:
x=sum(ls)

In [52]:
x

22

In [53]:
from statistics import mean
m1=mean(ls)

In [54]:
m1

5.5

In [55]:
al=arr1.mean()
al

5.5

In [56]:
arr1.ndim

1

In [57]:
mt=mean(arr1)
mt

5

In [61]:
ls2=[[23,45,453,67.8,2,3],[34,78,np.nan,43,46,24],[56,28,94,4,43,40]]
ls2

[[23, 45, 453, 67.8, 2, 3], [34, 78, nan, 43, 46, 24], [56, 28, 94, 4, 43, 40]]

In [59]:
arr2=np.array(ls2)
arr2

array([[ 23. ,  45. , 453. ,  67.8,   2. ,   3. ],
       [ 34. ,  78. ,  34. ,  43. ,  46. ,  24. ],
       [ 56. ,  28. ,  94. ,   4. ,  43. ,  40. ]])

In [60]:
arr2.dtype

dtype('float64')