In [2]:
import pandas as pd

In [2]:
df_posts=pd.read_json("https://jsonplaceholder.typicode.com/posts")

In [7]:
df_posts['id'].count()==len(set(df_posts["id"]))

True

In [11]:
df_posts.set_index('id',inplace=True)

In [12]:
df_posts.head(2)

,userId,title,body
id,,,
1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
2,1,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...

In [13]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.5-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.5

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x00000279F52D30C8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/psycopg2/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x00000279F52C5C08>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/psycopg2/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x00000279F52C5708>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/psycopg2/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x00000279F556E508>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/psycopg2/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x00000279F556EC48>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/psycopg2/

In [15]:
import psycopg2 as ps
con=ps.connect("host=localhost user=postgres password=root dbname=inventory_management_system")
df=pd.read_sql_query("SELECT * FROM new_sales",con)
df.head()

   id  quantity  inv_id                 created_at
0   1        10     1.0 2020-04-17 13:37:04.704106
1   3        10     1.0 2020-04-17 14:19:52.283322
2   4        10     1.0 2020-04-17 15:34:29.113922
3   5        10     1.0 2020-04-17 15:34:35.826324
4   6         5     NaN 2020-04-21 08:52:51.834396

## prerequisite of EDA (exploratory Data Analysis) 

* Run df.info() to check column/row frequencies of null/non-null values.Also run describe() method on your df.
* if more than half of the rows in a column has None/NA/Null values then we could drop the column
* If the null values are few, then we can replace them with mean median or mode
* Check for duplicates then remove them

## PErforming Descriptive Statistics
* Also run describe() on your df. This will show frequency/ mean/max/standard deviation/variance of continous values(numbers only)
* Check relationship between continous variables in one column and another.

## Data Visualization(Charts)

In [3]:
df_movies=pd.read_csv('IMDb movies.csv',index_col='imdb_title_id')

In [4]:
df_movies.head()

,title,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,Gene Gauntier,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0

In [5]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81273 entries, tt0000574 to tt9914286
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  81273 non-null  object
 1   original_title         81273 non-null  object
 2   year                   81273 non-null  int64
 3   date_published         81273 non-null  object
 4   genre                  81273 non-null  object
 5   duration               81273 non-null  int64
 6   country                81234 non-null  object
 7   language               80518 non-null  object
 8   director               81200 non-null  object
 9   writer                 79780 non-null  object
 10  production_company     76948 non-null  object
 11  actors                 81207 non-null  object
 12  description            78843 non-null  object
 13  avg_vote               81273 non-null  float64
 14  votes                  81273 non-null  int64
 15  budget                 22804 non-null  object
 16  usa_gross_income       15094 non-null  object
 17  worlwide_gross_income  29892 non-null  object
 18  metascore              12722 non-null  float64
 19  reviews_from_users     74196 non-null  float64
 20  reviews_from_critics   70286 non-null  float64
dtypes: float64(4), int64(3), object(14)
memory usage: 13.6+ MB

* we replace null values in country with mode (frequency) because it's a string

## clean up columns and check for duplicates

In [11]:
df_movies_one=pd.read_csv("data/ds-ml-python-master/imdb_data_1000.csv", index_col="Rank")

In [13]:
df_movies_one.columns

Index(['Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [31]:
df_movies_one.rename(columns={'Runtime (Minutes)':'Runtime_minutes',
                              'Revenue (Millions)':"Revenue_Millions"
                              
                             }, inplace=True)

AttributeError: 'list' object has no attribute 'rename'

In [29]:
df_movies_one.columns=[col.lower() for col in df_movies_one.columns]

AttributeError: 'list' object has no attribute 'columns'

In [30]:
df_movies_one.columns

AttributeError: 'list' object has no attribute 'columns'